/* Vocabulary Section */
.vocabulary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d6e3eb;
    padding: 30px 0;
    margin: 0;
}

.vocabulary-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    color: #111130;
}

.act-instruction {
    font-size: 20px;
    color: rgb(50, 49, 49);
    margin: 20px;
}

/* Question Section */
.quest {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #fff;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
}

.quest-number {
    margin-right: 10px;
}

.questions {
    width: 95%;
    font-size: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
    line-height: 40px;
    font-weight: 600;
    color: rgb(36, 36, 89);
    flex-direction:column;
}

.questions audio {
    height: 25px;
    margin: 10px 0 0 20px;
    background-color: #ffff;
    width: 30%;
}

.questions img{
    height: 20px;
    width: 20px;
    box-shadow: none;
    margin-left: 20px;
    padding-top: 10px;
    border-radius: 5px;
    transition: transform 0.1s;
    cursor: pointer;
}



.questions img:hover {
    transform: scale(1.03);
}

.listen{
    width:95%;
    margin-left: 3%;
}

.vocab-application .listen img{
    height: 20px;
    width: 20px;
    box-shadow: none;
    margin-left: 20px;
    border-radius: 5px;
    transition: transform 0.1s;
    cursor: pointer;
}

.vocab-application .listen img:hover {
    transform: scale(1.03);
}


/* Choice Section */
.choice,
.choice2,
.choice3,
.choice4,
.choice5,
.choice6,
.choice7,
.choice8,
.choice9,
.choice10 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 10px;
    padding: 10px;
}

.choice span,
.choice2 span,
.choice3 span,
.choice4 span,
.choice5 span,
.choice6 span,
.choice7 span,
.choice8 span,
.choice9 span,
.choice10 span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    transition: background-color 0.5s, transform 0.5s;
}

.choice span:hover,
.choice2 span:hover,
.choice3 span:hover,
.choice4 span:hover,
.choice5 span:hover,
.choice6 span:hover,
.choice7 span:hover,
.choice8 span:hover,
.choice9 span:hover,
.choice10 span:hover {
    background-color: rgb(239, 186, 186);
    color: black;
    transform: scale(1.03);
    border-radius: 5px;
}

/* Vocabulary Application */
.vocab-application {
    display: none;
    opacity: 0;
    transition: opacity 1s;
}

.vocab-application div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.vocab-sentence li {
    list-style-type:lower-alpha;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    font-weight: lighter;
}

.vocab-sentence li img{
    height: 20px;
    width: 20px;
    box-shadow: none;
    margin-left: 20px;
    padding-top: 10px;
    border-radius: 5px;
    transition: transform 0.1s;
    cursor: pointer;
}



.vocab-application img:hover {
    transform: scale(1.03);
}




.vocab-sentence audio {
    height: 25px;
    margin: 10px 0 0 20px;
    background-color: #ffff;
    width: 30%;
}













.vocab-application img {
    box-shadow: 0 4px 8px rgba(17, 4, 4, 0.599);
    width: 300px;
    transition: transform 1s;
    cursor: pointer;
}

.vocab-application img:hover {
    transform: scale(1.03);
}

.vocab-application-title {
    text-align: center;
    margin: 20px 0 0 0;
    border-top: 1px solid gray;
    padding-top: 20px;
}

.vocab-act {
    background-color: white;
}


